<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Resume</title>
</head>
<body>

    <div class='container'>
        <div class='float-right mr-5'>
          <p>Location: Emmaus, PA</p>
          <p>Phone:  <a href='tel:1-484-719-2555'>(484) 719-2555</a></p>
          <p>E-mail:  <a href="mailto:contact@jondreisbach.com">contact@jondreisbach.com</a></p>
          <p>Website:  <a href='index.html'>www.jondreisbach.com</a></p><br/>
        </div>

    <h1 class='mt-5 ml-5'>Jonathan Dreisbach</h1>
          <h3 class='ml-5'>Web Developer</h3>
  
          <h2 class='mt-5'>About Me</h2>
          <hr />
          <p>I started programming in C/C++ building arduino projects.  It has always been a thrill to me to be able to create something out of nothing.  From my first project I was hooked.  I quickly dove head first into web development where I was rewarded with overcoming engaging challenges that continue to fuel my passion for development.</p>
          <br/><br/>
  
          <h2>Experience</h2>
          <hr />
          <ul>
            <li>
              <h4>Em's Creatures</h4><a href='https://emscreatures.herokuapp.com'>www.emscreatures.jondreisbach.com</a>
              <p>Developed responsive E-Commerce web app with administrative access for the business owner/management team to easily 	manage products, users and invoices.  This web app uses a Node JS backend with MongoDB utilizing Google and Facebook 	Oauth 2.0 via Passport, and the PayPal API.  The front-end was built with React JS and redux.   </p>
            </li>
            <li>
              <h4>What to Eat!?</h4><a href='/whattoeat'>www.jondreisbach.com/whattoeat</a>
              <p>This web app serves as a personal cookbook/meal planner.  Users can create, share and save personal recipes with each 	other.  It will create a randomized weekly menu for a user given the recipes saved in the user's cookbook as well as generate 	a basic shopping list for the week based on the ingredients in the generated menu.  This application was created using PHP, 	MySQL and Javascript.
              </p>
            </li>
            <li>
              <h4>What to Eat!? (Mobile App)</h4><a href='https://expo.io/@synthetik023/projects'>https://expo.io/@synthetik023/projects</a>
              <p>What to Eat!? web app refactored into a mobile application translated into react-native utilizing a PHP back-end with MYSQL.  	You can view this product via the link above or download install directly from Google Play.</p>
            </li>
          </ul>
          <br /><br />
  
          <h2 class='mt-5'>Professional References</h2>
          <hr />
          <div class='row w-100'>
            <div class='col-3'>
              <p>David Catino</p>
            </div>
            <div class='col-3'>
              <p>Developer</p>
            </div>
            <div class='col-3'>
              <p>Dac5190@gmail.com</p>
            </div>
            <div class='col-3'>
              <p>(610) 657-0930</p>
            </div>
          </div>
          <br />
          <br />
  
          <h2 class='mt-5'>Skills</h2>
          <hr />
          <p>Langauges:  C/C++, PHP, Javascript, HTML, CSS</p>
          <p>Frameworks: ReactJS, React-Native, Bootstrap, Materialize CSS</p>
          <p>Database: MySQL, MongoDB</p>
          <p>Other: NodeJs, Git, Docker, Kubernetes</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
</body>
</html>