*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;

  align-content: center;
  justify-content: center;
  display: flex;
}

.App-logo {
  max-height: 30vmax;
  width: 100%;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

code {
  font-family: "courier new";
}

.name {
  font-size: 50px;
  color: white;
}

.title {
  font-size: 30px;
  color: white;
}

.App-header {
  max-height: 4vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.linksContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  text-align: center;
}

.container {
  margin: 500px;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  border: 1px solid white;
  height: 60px;
  width: 33.33%;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.linkContainer:hover {
  margin-top: 1vh;
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  transform: perspective(1000px);
}

.hidden {
  visibility: hidden;
}

.App-link {
  color: #61dafb;
  font-size: 35px;
  text-decoration: none;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(14, 12, 12, 0);
  opacity: 0;
  visibility: hidden;
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 36, 36);
  padding: 1rem 1.5rem;
  width: 42rem;
  border-radius: 0.5rem;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.close-btn {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: white;
  font-size: 20px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.accountsContainer {
  margin-top: 200px;
  display: flex;
}

.accountLogo {
  flex-direction: row;
  margin-right: 60px;
  margin-left: 60px;
}

.resume {
  text-decoration: none;
  color: #61dafb;
  font-size: 30px;
  margin-left: 60px;
}

.projectContainer {
  align-items: center;
}

.projectImage {
  height: 200px;
  width: 350px;
}

.projectCard {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
  background: #000;
  z-index: 1;
}

.projectCard :hover {
  margin-top: 1vh;
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  transform: perspective(1000px);
}

@media screen and (max-width: 768px) {
  .App-header {
    margin-bottom: 0;
    padding: 10px 10px;
  }

  .linksContainer {
    height: 0;
    width: 100%;
    margin-left: 10px;
  }

  .container {
    margin: 200px;
    max-width: 100%;
  }

  .linkContainer {
    border: 1px solid white;
    height: 35px;
    width: 40%;
    flex-direction: column;
    padding: 20px;
  }

  .App-link {
    color: #61dafb;
    font-size: 20px;
  }

  .modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(48, 35, 35, 0);
    opacity: 0;
    visibility: hidden;
  }

  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 36, 36);
    padding: 1vh 1.5vw;
    width: 60vw;
    border-radius: 0.5rem;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  .close-btn {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: white;
    font-size: 20px;
  }

  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .accountsContainer {
    margin-top: 150px;
    display: flex;
  }

  .accountLogo {
    flex-direction: row;
    margin-right: 30px;
    margin-left: 30px;
  }

  .resume {
    text-decoration: none;
    color: #61dafb;
    font-size: 30px;
    margin-left: 60px;
  }

  .projectImage {
    height: 80px;
    width: 120px;
  }

  .projectCard {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
    background: #000;
    z-index: 1;
  }

  .projectCard:hover {
    margin-top: 1vh;
    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    transform: perspective(1000px);
  }
}
